*{
   margin: 0;
   padding: 0;
   text-align: center;
   background:palegreen;
}
h1{
  
    background-color:black;
    color: white;
    height: 5rem;
    line-height: 5rem;
    margin-bottom: 1rem;
}
.choice:hover{
    cursor: pointer;
    background-color:#000;
}
.choices{
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
    justify-content: center;
}
.choice{
    height: 210px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
   
}
.score-board{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 3rem;
}
#user-score, #computer-score{
    font-size: 5rem;
}
.message{
    margin-top: 2rem;
    
}
#msg{
    background-color: black;
    color: white;
    font-size: 3rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}